<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Fananalitycs - David Breuer</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>

      <link rel="stylesheet" href="./bower_components/nvd3/nv.d3.css">
    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <body ng-app="starterApp" layout="column" ng-controller="UserController as ul">

  <section layout="row" flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
          <md-toolbar class="md-theme-indigo">
              <h1 class="md-toolbar-tools">FANalitycs</h1>
          </md-toolbar>
          <md-content class="md-padding">
              <h1 class="">TOP ten</h1>
              <md-list>
                  <md-item ng-repeat="item in ul.users">

                          <md-button  ng-click="ul.selectUser(item)"  class="md-button-colored">
                              <md-item-content>
                              <div class="md-tile-left">
                                  <img ng-src="{{item.picture.data.url}}" class="face" alt="{{item.name}}">
                              </div>
                              <div class="md-tile-content">
                                  <h3>{{item.name}}</h3>
                                  <h4>{{item.who}}</h4>
                                  <p>
                                      {{item.notes}}
                                  </p>
                              </div>

                      </md-item-content>
                          </md-button>
                  </md-item>
              </md-list>
          </md-content>
      </md-sidenav>
      <md-content flex class="">
          <div layout="column" layout-fill layout-align="top center" class="" ng-if="ul.selected">
                <md-toolbar class="">
                    <div class="md-toolbar-tools">
                        <h2>{{ul.selected.name}}</h2>
                        <span flex></span>
                        <h1>Likes: {{ul.selected.likes}}</h1>
                    </div>
                </md-toolbar>
              <div layout="row" layout-align="space-around center" class="md-padding">
                  <h2>{{ul.selected.is_verified}}</h2>
                  <p>
                      {{ul.selected.about}}
                  </p>
              </div>
              <div layout="row" layout-align="space-around center" class="">
                  <div flex>
                      <nvd3 ng-if="ul.selected" options='ul.selected.options' data='ul.selected.data' api="ul.api"></nvd3>
                  </div>

              </div>

          </div>
          <div flex></div>
      </md-content>
  </section>

    <script src="./bower_components/angular/angular.js"></script>
      <script src="./bower_components/d3/d3.js"></script>
      <script src="./bower_components/nvd3/nv.d3.js"></script> <!-- or use another assembly -->
      <script src="./bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'users'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('blue')
                          .accentPalette('red');

              });

    </script>

  </body>
</html>
